html, body {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif
			-webkit-backface-visibility: hidden;
		}
		* {
			box-sizing: inherit;
		}
		h1 {
			text-align: center;
		}
		svg {
			margin:auto;
			display:block;
		}

		.circle-overlay {
			font-size: 16px;
			border-radius: 10%;
			position: absolute;
			overflow: hidden;
			/*it's buggy with the foreignObject background right now*/
			/*background-color: rgba(255,255,255,0.5);*/
		}
		.circle-overlay__inner {
			text-align: center;
			width: 100%;
			height: 100%;
		}

		.hidden {
			display: none;
		}
		.node-icon--faded {
			opacity: 0.5;
		}
		.legend-size circle {
			fill: rgb(31, 119, 180);
		}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #6F257F;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
/* bar graph*/
.bar {
  fill: #aaa;
  height: 21px;
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  
  text {
    fill: #555;
  }
}

.bar-chart:hover,
.bar-chart:focus {
  .bar {
    fill: #aaa;
  }
}

.bar:hover,
.bar:focus {
  fill: red !important;
  
  text {
    fill: red;
  }
}

figcaption {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

/*donut chart*/
.chart{
  margin: 20px auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.text-center{
  font-size: 25px;
  font-weight: bold;
}

.js-active{
 fill: red;
}

/*donut chart*/

.widget {
    margin: 0 auto;
    display:block;
    width:350px;
    background-color: #222D3A;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #06060d;

}

.header{
    background-color: #29384D;
    height:40px;
    color:#929DAF;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 1px #06060d;
}

.chart-container{
    padding:25px;
}

.shadow {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.dashboard{
  background-color: #e4e5dd;
}